# Configuration files with sensitive data, so i dont expose my mail and password in the source code to git hub 
config.py

# Python cache takes a lot of space so i ignore it
__pycache__/
*.py[cod]
*$py.class

# Flask session files takes a lot of space so i ignore it
flask_session/

