<article class="post">
    <img src="{{ url_for('static', filename='images/'~(tweet.user_avatar_path if tweet.user_avatar_path else 'unknown.jpg')) }}" alt="Profile Picture" 
    class="w-8 h-8 rounded-full">
    <div class="post-content">
        <div class="post-header">
            <span class="name">
                {{ tweet.user_first_name }}
                {{ tweet.user_last_name }}
            </span>
            <span class="handle">@{{ tweet.user_username }}</span> · <span class="time">1d</span>
        </div>
        <p class="text">
            {{ tweet.post_message }}
        </p>
        {% if tweet.post_image_path: %}
        <img src="{{ url_for('static', filename='images/' ~ tweet.post_image_path) }}" alt="Post image" 
        class="w-80">
        {% endif %}
        
        <div class="post-actions">
            <span class="action"><i class="fa-regular fa-comment"></i> 0</span>
            <span class="action"><i class="fa-solid fa-retweet"></i> 0</span>
            {# Like / liked button, depending on whether current user has liked this post #}
            {% set post_pk = tweet.post_pk %}
            {% set like_count = tweet.like_count|default(tweet.post_total_likes, true) %}
            {% if tweet.has_liked %}
                {% include "___button_liked_tweet.html" %}
            {% else %}
                {% include "___button_like_tweet.html" %}
            {% endif %}
            <span class="action"><i class="fa-solid fa-chart-simple"></i> 230</span>
            <span class="action"><i class="fa-solid fa-share"></i></span>
        </div>
        <div class="comments-section">
            {% if user %}
            <div class="comment-form">
                <div class="d-flex flex-row">
                    <form id="comment_form_{{ post_pk }}" 
                          action="/api-create-comment" 
                          mix-post 
                          class="d-flex flex-col w-full">
                        <input type="hidden" name="post_pk" value="{{ post_pk }}">
                        <textarea name="comment_message" 
                                  placeholder="Post your reply" 
                                  class="w-full outline-none border-b-1 border-c-gray:+50 pa-2 mb-2"
                                  maxlength="280"
                                  rows="1"></textarea>
                        <div class="d-flex flex-row align-items-center">
                            <span class="text-c-gray text-80 comment-char-count">0/280</span>
                            <button mix-default="Reply" 
                                    mix-await="Posting ..." 
                                    class="w-auto bg-c-black text-c-white py-1 px-4 rounded-xl text-90">
                                Reply
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

            <div id="comments_list_{{ post_pk }}" class="comments-list">
                {% if tweet.comments %}
                    {% set comments = tweet.comments %}
                    {% include "_comments.html" %}
                {% else %}
                    <div class="no-comments text-c-gray text-80 pa-2">
                        No comments yet.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</article>